@model Core.Domain.Project

<div>
    <h3>@Html.ActionLink(Model.Name, "Detail", new { id = Model.ProjectId })</h3>
    <p><em>Created at @Model.CreateDate.ToLocalTime().ToString() by @Model.CreatedBy</em></p>
    <p>
        Description: @Model.Description | Total Employees: (@Model.TotalEmployees employees)
    </p>
    <p>
        @Html.ActionLink("Delete Project", "Delete", new { id = Model.ProjectId })
        |
        @Html.ActionLink("Edit Project", "Update", new { id = Model.ProjectId })
    </p>
</div>