@model Revoluza.Models.Users 

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Details Record</h4>
</div>
<div class="modal-body">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserName)</td>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Address)</td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PhoneNo)</td>
                <td>@Html.DisplayFor(model => model.PhoneNo)</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-dismiss="modal">
        Close
    </button>
</div>
