@model Revoluza.Models.Task 

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Details Record</h4>
</div>
<div class="modal-body">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>@Html.DisplayNameFor(model => model.ProjectName)</td>
                <td>@Html.DisplayFor(model => model.ProjectName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ParentName)</td>
                <td>@Html.DisplayFor(model => model.ParentName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.StartDate)</td>
                <td>@Html.DisplayFor(model => model.StartDate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.EndDate)</td>
                <td>@Html.DisplayFor(model => model.EndDate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ManagerName)</td>
                <td>@Html.DisplayFor(model => model.ManagerName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IsComplete)</td>
                <td>@Html.DisplayFor(model => model.IsComplete)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IsActive)</td>
                <td>@Html.DisplayFor(model => model.IsActive)</td>
            </tr>
            @*<tr>
                <td>@Html.DisplayNameFor(model => model.TotalEmployees)</td>
                <td>@Html.DisplayFor(model => model.TotalEmployees)</td>
            </tr>*@
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info"
            data-dismiss="modal">
        Close
    </button>
</div>
